{{ $node := . }}
<div class="extras-container">
    {{ partial "extra/coaches.html" . }}
    <div class="otherextras-right">
        <time class="date-color">{{ .Date.Format "Mon Jan 02, 2006" }}</time>
        <span class="separator">|</span>
        {{ partial "extra/categories.html" . }}
        {{ if not ($node.Scratch.Get "minimalextras")}}
        <span class="separator">|</span>
        {{ partial "extra/tags.html" . }}
        {{ end }}
    </div>
    {{ if not ($node.Scratch.Get "minimalextras")}}
    <div class="fontsizer">
    <ul class="fontsizer">
        <li><a href="#" id="fontsizer-small">A</a></li>
        <li><a href="#" id="fontsizer-medium" class="selected">A</a></li>
        <li><a href="#" id="fontsizer-large">A</a></li>
    </ul>
    </div>
    {{ end }}
    <div class="endextras"></div>
</div>
