
{{ $baseUrl := .Site.BaseURL }}
<nav class="main-menu menu-colors ">
    <ul class="menu menu-colors no-list-float ajjgoldback">
        <li><a href="{{ $baseUrl }}" class="hoverglow shadow ajjnowrap jitsfont">jits</a></li>
        <li><a href="#!" data-lightbox-id="searchbox" class="hoverglow shadow"><i class="fa fa-search fa-2x"></i></a></li>
        <li><a href="/blogs/jits-happens"  target="" class="hoverglow shadow"><span class="bjjt_tag ajjnowrap ajjtinytext hoverglow"></span><i class="fa fa-rss fa-2x"></i></a></li>
        <li><a href="http://twitter.com/davecthomas"  target="_blank" class="hoverglow shadow"><span class="bjjt_tag ajjnowrap ajjtinytext hoverglow"></span><i class="fa fa-twitter fa-2x"></i></a></li>
        <li><a href="http://www.facebook.com/davecthomasatx"  target="_blank" class="hoverglow shadow"><span class="bjjt_tag ajjnowrap ajjtinytext hoverglow"></span><i class="fa fa-facebook fa-2x"></i></a></li>
        <li><a href="http://bjjtech.com"  target="" class="hoverglow shadow"><span class="bjjt_tag ajjnowrap ajjtinytext hoverglow">BJJTech</span></a></li>
        <li><a href="https://www.youtube.com/channel/UCAz3ZyJFnQmCJl0PyVce_4A"  target="_blank" class="hoverglow shadow"><span class="bjjt_tag ajjnowrap ajjtinytext hoverglow"></span><i class="fa fa-youtube fa-2x"></i></a>
        </li>



        {{ with .Site.Params.Footer }}
            <li class="blue-grey-text" style="border-top: 1px solid;"><!-- Separator --></li>
            {{ range .List }}
                {{ $target := .target}}
                <li>
                    <a href="{{ .icon_link }}"  target="{{ $target }}" class="hoverglow shadow">
                      {{ if .icon_text }}
                      <span class="bjjt_tag ajjnowrap ajjtinytext hoverglow">{{- .icon_text}}</span>
                      {{ else }}
                        <i class="fa fa-{{ .icon_class }} fa-2x"></i>
                        {{ end }}
                    </a>
                </li>
            {{ end }}
        {{ end }}
        {{/*}}
        <li class="blue-grey-text" style="border-top: 1px solid;"><!-- Separator --></li>
        <li>
            <a href="{{ .RSSLink }}" type="application/rss+xml" target="_blank">
                <i class="fa fa-rss fa-2x"></i>
            </a>
        </li>
        {{*/}}
    </ul>
</nav>

{{ partial "core/search-lightbox.html" . }}
