
{{ $baseUrl := .Site.BaseURL }}
<nav class="main-menu menu-colors ">
    <ul class="menu menu-colors no-list-float ajjgoldback">
        <li><a href="{{ $baseUrl }}" class="hoverglow shadow ajjnowrap jitsfont">jits</a></li>
        {{/* Custom bars menu allows submenus
        <li>
            <a href="#!"><i class="fa fa-bars fa-2x"></i></a>

            <!-- NOTE: Only support two levels of menus at the moment! -->
            <ul class="menu flexible-width menu-colors no-list-float">
                {{ $currentNode := . }}
                {{ range .Site.Menus.Main }}
                    <li {{ if or ($currentNode.IsMenuCurrent "Main" .) ($currentNode.HasMenuCurrent "Main" .) }}class="active"{{ end }}>
                    {{ if .HasChildren }}
                        <a href="#!">
                            {{ .Pre }}
                            <span>{{ .Name }}</span>
                            <span class="drop-right"></span>
                            <i class="fa fa-caret-right"></i>
                        </a>
                        <ul class="menu flexible-width menu-colors no-list-float">
                            {{ range .Children }}
                                <li {{ if $currentNode.IsMenuCurrent "Main" . }} class="active" {{ end }}>
                                    <a href="{{ $baseUrl }}{{ .URL }}">{{ .Name }}</a>
                                </li>
                            {{ end }}
                        </ul>
                    {{ else }}
                        <a href="{{ $baseUrl }}{{ .URL }}">
                            {{ .Pre }}
                            <span>{{ .Name }}</span>
                        </a>
                    {{ end }}
                    </li>
                {{ end }}
            </ul>
        </li>
        {{*/}}
        <li><a href="#!" data-lightbox-id="searchbox" class="hoverglow shadow"><i class="fa fa-search fa-2x"></i></a></li>
        {{ with .Site.Params.Footer }}
            <li class="blue-grey-text" style="border-top: 1px solid;"><!-- Separator --></li>
            {{ range .List }}
                {{ $target := .target}}
                <li>
                    <a href="{{ .icon_link }}"  target="{{ $target }}" class="hoverglow shadow">
                      {{ if .icon_text }}
                      <span class="bjjt_tag ajjnowrap ajjtinytext hoverglow">{{- .icon_text}}</span>
                      {{ else }}
                        <i class="fa fa-{{ .icon_class }} fa-2x"></i>
                        {{ end }}
                    </a>
                </li>
            {{ end }}
        {{ end }}
        {{/*}}
        <li class="blue-grey-text" style="border-top: 1px solid;"><!-- Separator --></li>
        <li>
            <a href="{{ .RSSLink }}" type="application/rss+xml" target="_blank">
                <i class="fa fa-rss fa-2x"></i>
            </a>
        </li>
        {{*/}}
    </ul>
</nav>

{{ partial "core/search-lightbox.html" . }}
