<style>
    .cse .gsc-search-button input.gsc-search-button-v2,
    input.gsc-search-button-v2 {
        height: 26px !important;
        margin-top: 0 !important;
        min-width: 13px !important;
        padding: 5px 26px !important;
        width: 68px !important;
    }
</style>
<div id="searchbox" class="no-display">
    <div class="valign-wrapper fill-container">
        <div class="valign large-form horizontal-center-hack">
            {{ partial "core/search.html" . }}
        </div>
    </div>
</div>
