<div class="valign-wrapper" style="height: 100%;">
<span class="shake  center jitsfontw header-name1">jits<br/><span class="header-name2">happens<br/>
<span class="header-name3 glow-tight">w&thinsp;ith dave thomas</span></span></span>
</div>
<!-- <div class="valign-wrapper " style="height: 10%;">
 <span class="valign center pulsor header-nudge">
      {{ with .name }}{{- . -}}{{ end }}
      {{/*}}
      {{ with .email }}<h5>{{ . }}</h5>{{ end }}
      {{ with .description }}
          <!-- <h2><hr></h2> -->
          <h5>{{ . }}</h5>
      {{ end }}
      {{*/}}

</span>
</div>-->
