{{ partial "core/html-start.html" . }}

{{ partial "core/head.html" . }}

{{ $baseUrl := .Site.BaseURL }}
{{ $year := .Now.Year}}

<body class="page-colors">
  <script>
  function redir(){
    window.location.href = "/post";
    return false;
  }
  </script>
  {{ $tagline := .Site.Params.Header.tagline }}
    <div class="parallax">
        {{ with .Site.Params.Header }}
            <!-- NOTE: Must be at root level for firefox to work (cannot wrap in header) -->
              <div class="parallax__group"
            {{ if .redirectOnClick }}
            onclick="redir();"
            {{ end}}
            >
                <div class="parallax__layer parallax__layer--base">

                    {{ partial "homepage/header-logo.html" . }}
                </div>
                <div class="parallax__layer parallax__layer--back {{ if .image }}fullsize-background-image ajjbigger{{ end }}"
                    {{ if .image }}
                        style="background-image: url('{{ $baseUrl }}{{ .image }}'); {{ with .image_position }}background-position: {{ . }};{{ end }}"
                    {{ else }}
                        style="background-color: {{ .color }}"
                    {{ end }}
                ></div>
                <div class="row-colors center-align">
                    <h3 class="con11-tagline jitsfont no-margin">{{ $tagline }}</h3>
                </div>
              </div>
        {{ end }}

        {{ $tagline2 := .Site.Params.Header.tagline2 }}
        <div class="parallax__group parallax__group--auto-height">
            <div class="parallax__layer parallax__layer--base">
              <div class="row-colors center-align">
                  <h3 class="con11-tagline2 no-margin">{{ $tagline2 }}</h3>
              </div>

                <div class="flex-container">
                    {{ range .Site.Params.Cells.List }}
                        <!--
                             Note: The link and contents must be here since we
                             cannot pass .Site.BaseURL as part of the context
                        -->
                        {{ if .outlink }}
                          <a href="{{ if .disable }}#!{{ else }}{{ .outlink }}{{ end }}" class="flex-item">
                        {{ else }}
                          <a href="{{ if .disable }}#!{{ else }}{{ $baseUrl }}{{ .link }}{{ end }}" class="flex-item">
                        {{ end}}
                          <div class="highlight-parent ">
                            <div class="cell
                                fill-container
                                no-padding
                                {{ if or .grayscale .disable }}grayscale{{ end }}
                                {{ if .disable }}no-change-on-hover{{ end }}
                                {{ if .image}}fullsize-background-image{{ end }}
                            " style="
                                {{ with .image }}
                                    background-image: url('{{ $baseUrl }}{{ . }}');
                                {{ end }}
                                    background-color: {{ .color }};


                                {{ with .image_position }}
                                    background-position: {{ . }};
                                {{ end }}
                                height: {{ with .height }}
                                    {{ . }}
                                {{ else }}
                                    33.33vh
                                {{ end }};
                            ">
                            <div class="center-block">
                            <span class="valign center glow jitsfontw header-name1 barely-visible">jits<br/><span class="header-name2">happens</span></span>

                                <!-- Show text permanently -->
                                {{ if eq .always_show_text true }}
                                    <div class="center-block shake">
                                        <h3 class="white-text jitsfont">{{ .name }}</h3>
                                    </div>
                                {{ end }}

                                {{ if not (or (eq .no_highlight true) .disable) }}
                                    <div class="highlight-block shake">
                                        <h3 class="ajjgoldtext jitsfont">{{ .name }}</h3>
                                    </div>
                                {{ end }}
                            </div>
                          </div>
                        </div>
                        </a>
                    {{ end }}
                </div>

                {{ with .Site.Params.Footer }}
                    {{ $target := "_self"}}
                    <div class="row-colors right-align">
                        <ul class="main-page-footer horizontal no-bullets no-margin ajjgoldback">
                            {{ range .List }}
                                {{ $target := .target}}
                                <li>
                                <a href="{{ .icon_link }}" target="{{ $target }}" class="hoverglow shadow">

                                      {{ if .icon_text }}
                                      <span class="bjjt_tag ajjnowrap">{{- .icon_text}}</span>
                                      {{ else }}
                                        <i class="fa fa-{{ .icon_class }}"></i>
                                      </a>
                                      {{ end }}
                                      </li>
                          {{/*  <li>|</li> */}}
                            {{ end }}
                            <li><a href="{{ .companyHomeURL}}" target="{{ $target }}" class="jitsfont ajjalignlower ajjnowrap hoverglow shadow">{{ $.Site.Copyright | markdownify }}</a><span class="ajjcopy ajj_hidetiny">&copy; {{ $year }}&nbsp;</span></li>
                        </ul>
                    </div>
                {{ end }}
            </div>
        </div>
    </div>

    {{ partial "core/js.html" . }}
</body>

{{ partial "core/html-end.html" . }}
